@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

.bree-head {
  font-family: 'Bree Serif', serif;
  letter-spacing: 2px;
}

.m {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 28px;
  line-height: 30px;

}

.logo {
  max-width: 60px;
  max-height: 60px;

}
.li-custom {
  list-style: url("/static/images/graduate.svg");
  list-style-image: url("/static/images/graduate.svg");
}